.settings/
.classpath
.project
target/

**/.sass-cache/
liferay-test.form-portlet/build/
liferay-test.form-portlet/target/
liferay-test.form-portlet/.settings/
liferay-test.form-portlet/.classpath
liferay-test.form-portlet/.project

liferay-test.applicant-service/build/
liferay-test.applicant-service/target/
liferay-test.applicant-service/.settings/
liferay-test.applicant-service/.classpath
liferay-test.applicant-service/.project

liferay-test.applicant-service/liferay-test.applicant-service-api/build/
liferay-test.applicant-service/liferay-test.applicant-service-api/target/
liferay-test.applicant-service/liferay-test.applicant-service-api/.settings/
liferay-test.applicant-service/liferay-test.applicant-service-api/.classpath
liferay-test.applicant-service/liferay-test.applicant-service-api/.project

liferay-test.applicant-service/liferay-test.applicant-service-service/build/
liferay-test.applicant-service/liferay-test.applicant-service-service/target/
liferay-test.applicant-service/liferay-test.applicant-service-service/.settings/
liferay-test.applicant-service/liferay-test.applicant-service-service/.classpath
liferay-test.applicant-service/liferay-test.applicant-service-service/.project
