language: java
addons:
  sonarcloud:
    organization: "raoul-imolczek" # the key of the org you chose at step #3
script:
  # other script steps might be done before running the actual analysis
  - mvn clean verify sonar:sonar -Pcoverage -Dsonar.projectKey=raoul-imolczek_liferay-test
before_deploy:
  - pip install --user cloudsmith-cli
deploy:
  - provider: script
    skip_cleanup: true
    script: cloudsmith push maven liferay-fabian/liferay --pom-file liferay-test.applicant-service/liferay-test.applicant-service-api/pom.xml liferay-test.applicant-service/liferay-test.applicant-service-api/target/liferay-test.applicant-service-api-1.0.0.jar
    on:
      branch: master  
  - provider: script
    skip_cleanup: true
    script: cloudsmith push maven liferay-fabian/liferay --pom-file liferay-test.applicant-service/liferay-test.applicant-service-service/pom.xml liferay-test.applicant-service/liferay-test.applicant-service-service/target/liferay-test.applicant-service-service-1.0.0.jar
    on:
      branch: master  
  - provider: script
    skip_cleanup: true
    script: cloudsmith push maven liferay-fabian/liferay --pom-file liferay-test.form-portlet/pom.xml liferay-test.form-portlet/target/liferay-test.form-portlet-1.0.0.jar
    on:
      branch: master  
    
    
    